  .key{
    margin-top : 10px;
  }

  .textButton{
    font-size:20;
    font-family: "arial";
  }

  .button {
    fill:white;
    stroke: #00ff80;
    stroke-width:5;
  }

  .button rect:hover{
    fill:red;
  }

  #display{
    text-align: center;
    fill:black;
  }


/* graph */

.grid {
  stroke: black;
  stroke-dasharray: 1 2;
  stroke-width: 1;
}

.recBar{
  fill: blue;
  stroke: black;
  opacity: 0.7;
}
